.wrapper {
  max-width: 1470px;
  margin: 0 auto;
}

.block {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.title {
  margin-left: 0;
  margin-top: 40px;
}

.block1 {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.blockInputs {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 100vw; */
  max-width: calc(100vw - 16px);
}

.checkBoxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .block2 {} */

.checkboxesUnderTheCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  max-width: calc(100vw - 16px);
  /* border: 1px solid red; */
}

.endBlock {
  /* border: 1px solid red; */
  position: absolute;
  width: 600px;
  font-size: 28px;
  line-height: 130%;
  left: calc(50% - 300px);
  top: 20%;
  /* text-align: justify; */
}

@media (max-width: 780px) {
  .information {
    padding: 0 8px;
  }

  .block {
    gap: 20px;
  }

  .block1 {
    gap: 30px;
  }

  .block2 {
    padding: 0 8px;
  }

  .address {
    padding: 0 8px;
  }

  .blockInputs {
    gap: 20px;
  }
}