.wrapper {
  max-width: 1470px;
  margin: 0 auto;
}

.form {
  margin-top: 60px;
}

.block {
  display: flex;
  gap: 60px;
}

.title {
  margin-left: 0;
  margin-top: 40px;
}

.block1 {
  display: flex;
  gap: 60px;
  flex-direction: column;
  flex: 1 0 auto;
}

.blockInputs {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  max-width: calc(100vw - 16px);
}

.information {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: calc(100vw - 16px);
}

.informationFlex {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 100vw; */
  max-width: calc(100vw - 16px);
}

.checkBoxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .block2 {} */

.checkboxesUnderTheCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  max-width: calc(100vw - 16px);
}

.endBlock {
  position: absolute;
  width: 600px;
  font-size: 28px;
  line-height: 130%;
  left: calc(50% - 300px);
  top: 20%;
  /* text-align: justify; */
}
.orderCardMobileCheckBox {
    display: none;
  }

  .orderCardCheckBox {
    display: block;
  }

@media (max-width: 768px) {
  .blockInputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
  }

  .orderCardMobileCheckBox {
    display: block;
  }

  .orderCardCheckBox {
    display: none;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
  }

  .information {
    padding: 0 8px;
    /* max-width: 50%; */
  }

  .block {
    gap: 20px;
  }

  .block1 {
    gap: 12px;
    margin-bottom: 60px;
  }

  .block2 {
    padding: 0 8px;
  }

  .address {
    padding: 0 8px;
    /* max-width: 40%; */
  }

  .blockInputs {
    gap: 20px;
  }
  .form {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .blockInputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
  }

  .block1 {
    margin-bottom: 60px;
  }

  .form {
    margin-top: 20px;
  }
  .information {
    /* max-width: 100%; */
  }
}



@media (max-width: 1024px) {
.blockInputs {
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 100vw;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
  }

  .information {
    padding: 0 8px;
  }

  .block {
    gap: 20px;
  }

  .block1 {
    gap: 12px;
    margin-bottom: 60px;
  }

  .block2 {
    padding: 0 8px;
  }

  .address {
    padding: 0 8px;
  }

  .blockInputs {
    gap: 20px;
  }
  .form {
    margin-top: 40px;
  }
}