.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.buttons {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}