.block {
  max-width: calc(100vw - 16px);
  margin: 0 auto;
}

.inputs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  /* border: 1px solid #000; */
  margin-bottom: 20px;
}