.block {
  /* margin: 0 70px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 30px;
  margin-bottom: 70px;
  max-width: 40%;
  width: 40%;
  /* min-width: 380px; */
}