.block {
  width: 840px;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.block1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.block2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 780px) {
  .block {
    margin: 0;
    padding: 0 8px;
    gap: 16px
  }

  .inputs {
    gap: 16px 0;
  }

  .block1 {
    gap: 16px;
    margin: 0 auto;
  }

  .block2 {
    gap: 16px;
    margin: 0 auto;
  }
}