.wrapper {
  /* max-width: 1440px; */
  width: calc(100vw - 0px);
  margin: 0 auto;
  display: flex;

  margin-top: 70px;
  align-items: flex-start;
}

.block {
  flex: 1 0 auto;
}

.firstBlock {
  gap: 20px;  
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: calc(100vw - 40px);
}

.images {
  max-width: 402px;
  /* min-width: 400px; */
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  /* gap: 60px; */

}

.image {
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
  /* height: 100%; */
  /* width: calc(100vw - 16px); */
  height: 100%;
  max-width: calc(100vw - 16px);
  max-width: 400px;
}

.miniImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 16px);
  width: 100%;
  max-width: 400px;
}

.productCardFirst {
  display: block;
}

.imageMini {
  width: calc(25% - 12px);  
  height: 100%;
  max-width: 120px;
}

.info {
  flex: 1 1 auto;
  min-width: 360px;
}

.commentsList {
  width: 550px;
  max-width: 100vw;
  border: 1px solid #000;
}


.characteristics {
  margin-bottom: 40px;
  max-width: calc(100vw - 40px);
  /* max-width: 1000px; */
}

.sameProducts {
  max-width: calc(100vw);
  margin-bottom: 40px;
}

.comments {
  max-width: calc(100vw - 40px);
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 40px;
  border: 1px solid #000;
}

.card {
  width: 400px;
}

.titleBlock {
  margin-bottom: 32px;
  width: 100%;

}

.title {
  font-size: 36px;
  color: #222222;
  margin-bottom: 12px;
  text-wrap: wrap;

}

.infoBlock {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
}

.price {
  font-size: 24px;
  color: #222222;
  margin-right: 12px;
}

.oldPrice {
  font-size: 16px;
  color: #494949;
  margin-right: 24px;
  text-decoration: line-through;
}

.rateBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rate {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}

.commentsCount {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}

.aboutTitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.aboutDescription {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  max-width: 540px;
  word-wrap: break-word;
  margin-bottom: 16px;
  line-height: 24px
}

.characteristicsTitle {
  font-size: 36px;
  color: #222222;
  margin-bottom: 20px;
}

.characteristicsCloumns {
  display: flex;
  gap: 40px;
}

.characteristicsList {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.simularProducts {
  max-width: calc(100vw - 16px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0px;
  justify-content: space-between;
}

.commentsTitle {
  font-size: 36px;
  color: #222222;
  margin-bottom: 20px;
}

.fillerCommentText {
  font-size: 24px;
  margin-top: 40px;
}

.commentsBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
}

/* .image {
  cursor: pointer;
  width: calc(100vw - 16px);
  height: 100%;
  max-width: calc(100vw - 16px);
  max-width: 400px;
} */

.imagesMobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  /* gap: 20px; */
}

.miniImagesMobile {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 120px;
  gap: 12px;
}

.imageMiniMobile {
  display: block;
  /* width: calc(100vw - 16px); 
  height: 100%;
  max-width: 80px; */
  width: 100%;
  height: 120px;
  max-height: 120px;
}

.imageMobile {
  cursor: pointer;
  width: calc(100vw - 16px);
  height: 100%;
  max-height: 100%;
  max-width: calc(100vw - 16px);
  max-width: 400px;
}

.priceBlock {
  display: flex;
  align-items: flex-end;
}

.characteristicsCloumns2 {
  display: none;
}


.imagesMobile {
  display: none;
}

.productCardFirst {
  /* margin-bottom: 20px; */
}

.productCardSecond {
  display: none;
  margin-bottom: 20px;
}




@media (min-width: 576px) {
  .images {
    display: none;
  }

  .imagesMobile {
    display: flex;
  }
}

@media (min-width: 768px) {
  .images {
    display: block;
  }

  .imagesMobile {
    display: none;
  }
  .simularProducts {
    max-width: calc(100vw - 40px);
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0px;
    justify-content: space-between; */
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin: 0 40px;
    margin-top: 40px;
    max-width: calc(100vw - 80px);
  }
}

@media (max-width: 1200px) {
  .wrapper {
    margin-top: 40px;
    padding: 0 20px;
  }

  .titleBlock {
    margin-bottom: 0px;
  }

  .simularProducts div:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 40px;
    padding: 0 8px;
    /* display: none; */
  }

  .block {}

  .imageMini {
    width: 25%;
    /* height: 25%; */
  }

  .firstBlock {
    max-width: calc(100vw - 16px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 12px;
  }

  .titleBlock {
    max-width: calc(100vw - 16px);
  }

  .title {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
  }

  .oldPrice {
    font-size: 16px;
  }
  
  .info {
    min-width: 202px;
  }

  .infoBlock {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 12px;
    
  }

  .block {
    max-width: calc(100vw - 16px);
    gap: 20px;
  }

  .characteristics {
    max-width: calc(100vw - 16px);
    margin-bottom: 40px;
  }

  .characteristicsTitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .characteristicsCloumns {
    display: none;
  }

  .characteristicsCloumns2 {
    display: block;
  }

  .characteristicsList {
    max-width: 100%;
    width: 100%;
    gap: 10px;
  }

  .comments {
    flex-wrap: wrap-reverse;
  }

  /* .image {
    width: calc(100vw - 16px);
    height: calc(100vw - 16px);
    max-width: calc(100vw - 16px);
    max-height: calc(100vw - 16px);
  } */

  .images {
    max-width: calc(100vw - 16px);
    gap: 12px;
  }

  .miniImages {}

  .imageMini {
    width: calc(25% - 4px);
  }

  .commentsTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .commentsBlock {
    margin-top: 20px;
  }
}

@media (max-width: 1240px) {
  .productCardFirst {
    display: none;
  }
  .productCardSecond {
    display: block;
  }
}