.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.favoriteProducts {
  /* margin: 0 70px; */
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .favoriteProducts {
    padding: 0px 10px;
    gap: 20px;
  }
}