.productCard {
  width: 400px;
  min-width: 400px;
  padding: 32px 40px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.titleAndDiscount {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.titleTextDiscount {
  font-size: 18px;
  text-decoration: line-through;
}

.titleText {
  font-weight: 400;
  font-size: 28px;
  color: #222222;
}

.productSoon {
  font-size: 18px;
}

.beforeDiscount {
  margin-bottom: 24px;
  font-size: 18px;
  color: #494949;
  text-decoration: line-through;
  text-align: end;
}

.properties {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.product {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 300;
  font-size: 20px;
  color: #222222;
}

.productCardMobile {
  display: none;
}

@media (max-width: 576px) {
  .productCard {
    display: none;
  }

  .productCardMobile {
    display: block;
  }

  .favoriteButton {
    position: absolute;
    top: 94px;
    right: -10px;
  }

  .addButton {
    display: block;
    position: fixed;
    z-index: 10;
    bottom: 74px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 0 4px 0 #00000033;
  }
}