.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.parameterBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.parametersButtons {
  display: flex;
  justify-content: space-between;
}