.title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
  color: #222222;
  /* margin: 0 70px; */
  margin-bottom: 40px;
  margin-top: 70px;
  max-width: 1280px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

