.products {
  /* margin: 0 70px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* height: 410px;
  overflow: hidden; */
  gap: 20px 0px;
  margin-bottom: 70px;
  /* align-items: stretch; */
}

/* .products div:nth-child(4) {
  display: none;
} */

@media (max-width: 780px) {
  .products {
    padding: 0px 10px;
    margin-bottom: 40px;
  }
}