.products {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 8px;
  margin-bottom: 70px;
  max-width: 1280px;
}



@media (max-width: 768px) {
  .products {
    padding: 0px 10px;
    margin-bottom: 40px;
  }
}

/* 8 из-за того что в продукте содержатся сразу мобильная и десктопная версии, нужно исправить */
@media (min-width: 576px) {
  .products div:nth-child(4) {
    display: none;
  }
}

@media (min-width: 768px) {
  .products div:nth-child(4) {
    display: inline-flex;
  }
}