/* .wrapperblock {} */

@media (min-width: 992px) {
  .mainBlock {
    width: 288px;
    height: 403px;
  }
  .wrapperblock {
    max-width: calc(25% - 20px);
    min-width: 288px;
  }
  .mainMobileBlock {
    display: none;
    /* max-width: 100%; */
  }

  .block {
    position: relative;
    width: 288px;
    padding: 20px 20px 30px 20px;
    color: #222222;
    transition: 0.15s;
    height: calc(100%);
    overflow: hidden;
  }

  .block:hover {
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    height: calc(100% + 60px);
    background-color: #fff;
    z-index: 10;
  }

  .blockNoButton:hover {
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    height: calc(100%);
    background-color: #fff;
    z-index: 10;
  }

  .button {
    margin-top: 30px;
  }

  .image {
    margin-bottom: 14px;
    transition: 0.25s;
    object-fit: cover;
  }

  .image:hover {
    transform: scale(1.02);
  }

  .title {
    font-size: 22px;
    color: #222222;
    margin-bottom: 7px;
    width: 100%;
    word-wrap: break-word;
    line-height: 28px;
    transition: 0.15s;
  }

  .title:hover {
    color: #4d7cc7;
  }

  .prices {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

  .newPrice {
    font-size: 24px;
  }

  .price {
    font-size: 16PX;
    color: #494949;
    text-decoration: line-through;
  }

  .rates {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .rate {
    font-size: 18px;
    margin-left: 4px;
    margin-right: 20px;
  }

  .comments {
    font-size: 18px;
  }
}



@media (max-width: 992px) {
  .mainBlock {
    display: none;
  }
  .wrapperblock {
    width: calc(33.33% - 20px)
  }
  .mainMobileBlock {
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
    /* max-width: 100%; */

  }

  .block {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #222222;
    transition: 0.15s;
    overflow: hidden;
    margin-bottom: 12px;
    flex: 1 0 auto;
  }


  .image {
    max-width: calc(100%);
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    transition: 0.25s;
  }

  .title {
    font-size: 16px;
    color: #222222;
    margin-bottom: 7px;
    margin-top: 12px;
    word-wrap: break-word;
    line-height: 110%;
    transition: 0.15s;
  }

  .title:hover {
    color: #4d7cc7;
  }

  .prices {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

  .newPrice {
    font-size: 18px;
  }

  .price {
    font-size: 14px;
    color: #494949;
    text-decoration: line-through;
  }

  .rates {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .rate {
    font-size: 16px;
    margin-left: 4px;
    margin-right: 16px;
  }

  .comments {
    font-size: 16px;
  }
}


@media (max-width: 576px) {
  .mainBlock {
    display: none;
  }

  .wrapperblock {
    width: calc(50% - 12px);
  }

  .mainMobileBlock {
    display: flex;
    flex-direction: column;
    /* margin-right: 12px; */
    /* width: calc(50% - 10px); */

  }

  .block {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #222222;
    transition: 0.15s;
    overflow: hidden;
    margin-bottom: 12px;
    flex: 1 0 auto;
  }


  .image {
    max-width: calc(100%);
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    transition: 0.25s;
  }

  .title {
    font-size: 16px;
    color: #222222;
    margin-bottom: 7px;
    margin-top: 12px;
    word-wrap: break-word;
    line-height: 110%;
    transition: 0.15s;
  }

  .title:hover {
    color: #4d7cc7;
  }

  .prices {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

  .newPrice {
    font-size: 18px;
  }

  .price {
    font-size: 14px;
    color: #494949;
    text-decoration: line-through;
  }

  .rates {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .rate {
    font-size: 16px;
    margin-left: 4px;
    margin-right: 16px;
  }

  .comments {
    font-size: 16px;
  }
}