.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .block {
    gap: 16px;
    max-width: calc(100vw - 16px);
    margin-bottom: 24px;
  }
}