.input {
  width: 360px;
  max-width: calc(100vw - 16px);
  /* max-width: calc(100%); */
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  font-weight: 300;
  display: block;
}

/* можно добавить еще один placeholder */
.input::placeholder {
  color: #888888;
  font-weight: 300;
  opacity: 0;
  transition: 0.3s;
}

.field {
  position: relative;
  /* margin-bottom: 20px; */
}

.label {
  display: inline-block;
  padding: 0 3px;
  position: absolute;
  font-size: 16px;
  color: #888888;
  font-weight: 300;
  top: 17px;
  left: 20px;
  transition: 0.3s;
  cursor: inherit;
  /* todo на область padding не действует */
}

.input:focus+.label {
  top: -7px;
  left: 12px;
  font-size: 12px;
  background-color: white;
}

.input:not(:placeholder-shown)+.label {
  top: -7px;
  left: 12px;
  font-size: 12px;
  background-color: white;
}

.input:focus::placeholder {
  opacity: 1;
}

.xsmall {
  width: 120px;
}

.small {
  width: 190px;
}

.medium {
  width: 360px;
}

.large {
  width: 400px;
}

.error {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  color: red;
}

@media (max-width: 576px) {
  .small {
    max-width: calc(50vw - 16px);
  }

  .medium {
    max-width: calc(100vw - 16px);
  }

  .large {
    max-width: calc(100vw - 16px);
  }
}