.wrapper {
  max-width: 1440px;
  margin: 0 auto
}

.title {
  margin-top: -90px;
}

.basketFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
  flex-wrap: wrap;
}

.basketProducts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 0 auto
}

@media (max-width: 780px) {
  .wrapper {
    min-height: calc(100vh - 480px)
  }

  .basketFlex {
    margin-left: 8px;
    margin-right: 8px;
  }

  .basketProducts {
    gap: 24px;
  }
}