.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* border: 1px solid #000; */
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flex {
  width: 1400px;
  max-width: calc(100vw - 140px);
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* margin: 0 8px; */
  padding: 0px 8px;
  /* justify-content: center; */
  /* border: 1px solid #000; */
  /* border: 5px solid #000; */
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 140px);
  gap: 32px;
}

.imageBlock {
  width: 400px;
  max-width: calc(100vw - 16px);
  display: flex;
  flex-direction: column;
  gap: 30px
}

.image {
  max-width: calc(100vw - 16px);
  max-height: calc(100vw - 16px);
  border: 1px solid #000;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.addImage {
  margin-bottom: 8px;
}

.formImageButtons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.block1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* border: 1px solid #000; */
}

.block2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* border: 1px solid #000; */
}

@media (max-width: 576px) {
  .flex {
    max-width: calc(100vw - 0px);
  }

  .inputs {
    /* border: 1px solid #000; */
    gap: 0px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 16px 0px;
    justify-content: space-between;
    width: calc(100vw - 16px);
  }

  .block1 {
    gap: 16px;
  }

  .block2 {
    gap: 16px;
  }
}