.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flex {
  width: 1400px;
  max-width: calc(100vw - 140px);
  display: flex;
  flex-wrap: wrap;
  gap: 40px 72px;
  /* margin: 0 8px; */
  padding: 0px 8px;
  /* justify-content: space-between; */
  align-items:flex-start;
}

.form {
  display: flex;
  flex-wrap: wrap;
  /* width: 400px; */
  /* max-width: calc(100vw - 140px); */
  /* align-items: center; */
  gap: 32px;
}

.imageBlock {
  width: 400px;
  max-width: calc(100vw - 16px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* margin: 0 auto; */
}

.image {
  /* width: calc(100vw - 16px);
  height: 100%;
  max-width: calc(100vw - 16px);
  max-height: calc(100vh - 16px);
  max-width: 400px; */
  width: calc(100vw - 16px); 
  height: 100%;
  /* width: 400px;
  height: 400px; */
  max-width: calc(100vw - 16px);
  max-width: 400px;
  /* margin: 0 auto; */
  /* max-height: calc(100vw - 16px); */
  /* max-width: 100vw; */
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.addImage {
  margin-bottom: 8px;
}

.formImageButtons {
  
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.block1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.block2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid #000; */
  margin: 0 auto;
  gap: 32px;
}

@media (max-width: 576px) {
  .flex {
    max-width: calc(100vw - 0px);
  }

  .form {
    margin: 0 auto;
    max-width: calc(100vw - 16px);
  }

  /* .imageBlock {
    margin: 0 auto;
  } */

  .inputs {
    /* border: 1px solid #000; */
    gap: 0px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 16px 0px;
    justify-content: space-between;
    width: 400px;
    max-width: calc(100vw - 16px);
  }

  .block1 {
    gap: 16px;
  }

  .block2 {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .flex {
    width: 1400px;
    max-width: calc(100vw - 0px);
  }
  /* .imageBlock {
    margin: 0 auto;
  } */
}

/* только для image block */
@media (max-width: 987px) {
.imageBlock { 
    margin: 0 auto;
  }
}