.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: 72px;
  margin: 0 auto;
  justify-content:center;
}
.imageBlock {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.addImage {
  margin-bottom: 8px;
}