.textarea {
  width: 400px;
  max-width: calc(100vw - 32px);
  /* max-width: calc(100%); */
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 20px;
  border: 1px solid #D9D9D9;
  font-weight: 300;
  display: block;
  resize: none;
  overflow: hidden;
}

/* можно добавить еще один placeholder */
.textarea::placeholder {
  color: #888888;
  font-weight: 300;
  opacity: 0;
  transition: 0.3s;
}

.field {
  position: relative;
  max-width: 100%;
  /* margin-bottom: 20px; */
}

.label {
  display: inline-block;
  padding: 0 3px;
  position: absolute;
  font-size: 16px;
  color: #888888;
  font-weight: 300;
  top: 17px;
  left: 20px;
  transition: 0.3s;
  cursor: inherit;
  /* todo на область padding не действует */
}

.textarea:focus+.label {
  top: -7px;
  left: 12px;
  font-size: 12px;
  background-color: white;
}

.textarea:not(:placeholder-shown)+.label {
  top: -7px;
  left: 12px;
  font-size: 12px;
  background-color: white;
}

.textarea:focus::placeholder {
  opacity: 1;
}

.inputLarge {
  width: 400px;
}

.error {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  color: red;
}

/* .xsmall {
  width: 120px;
  max-width: 400px;
}

.small {
  width: 190px;
  max-width: 400px;
}

.medium {
  width: 360px;
  max-width: 400px;
}

.large {
  width: 400px;
  max-width: 400px;
} */

@media (max-width: 780px) {
  .textarea {
    width: 560px;
    max-width: calc(100vw - 16px);
  }

  .xsmall {
    width: 120px;
    max-width: calc(100vw - 16px);
  }

  .small {
    width: 190px;
    max-width: calc(100vw - 16px);
  }

  .medium {
    width: 400px;
    max-width: calc(100vw - 16px);;
  }

  .large {
    width: 480px;
    max-width: calc(100vw - 16px);
  }
}