.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  font-size: 18px;
}

.name {
  color: #494949;
}

.value {
  text-align: right;
  /* border: 1px solid #000; */
  /* flex: 0 1 auto; */
  /* width: 100%; */
  /* display: inline-block; */
  /* white-space: pre-line; */
  text-align: justify;
}

.dots {
  border-bottom: 1px dashed #d9d9d9;
  flex: 1 0 auto;
  height: 1px;
  min-width: 20px;
  flex: 1 0 auto;
  height: 16px;
}

.s {
  font-weight: 300;
  font-size: 16px;
}

.s p {
  color: #222222;
}

.s .dots {
  color: #222222;
  min-width: 120px;
}

.m {}

.l {
  font-weight: 300;
  font-size: 20px;
}

.l p {
  color: #222222;
}