.wrapper {
  /* position: relative; */
  /* height: calc(100vh - 165px); */
  min-height: calc(100vh - 165px);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.block {
  width: 360px;
  margin: 0 auto;
  margin-top: 20px;
  /* margin-top: calc(40vh); */
  /* margin-top: 100px; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.text {
  max-width: calc(100vw - 16px);
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.texts {
  width: 100%;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.link {
  color: #2f77e7;
  text-decoration: underline;
}

.mt {
  margin-top: -14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}