.products {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 8px;
  margin-bottom: 70px;
  /* как можно менять max ширину */
  width: 1440px;
  max-width: calc(100vw - 20px);
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .products {
    padding: 0px 10px;
    margin-bottom: 40px;
     max-width: calc(100vw - 16px);
  }

  .title {
  font-size: 24px;
}
}

/* 8 из-за того что в продукте содержатся сразу мобильная и десктопная версии, нужно исправить */
@media (min-width: 576px) {
  .products main:nth-child(4) {
    display: none;
  }
}

/* какой-то ужас работает только с main
    если ставить div то он применяет его 
    ко всем вложенным элементам div внутри страницы */
@media (min-width: 1200px) {
  .products main:nth-child(4) {
    display: inline-flex;
  }
}

@media (min-width: 1200px) {
  .products main:nth-child(4) {
    /* display: inline-flex; */
    /* border: 1px solid #000; */
  }
}