.favorite {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff00;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: 0.15s;
}

.favorite:hover {
  background-color: #ffffff50;
}

.image {
  height: 32px;
  width: 32px;
  overflow: hidden;
}

.favoriteProduct {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff00;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: 0.15s;
}

@media (max-width: 576px) {
  .favorite {
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
  }
}