.catalog {
  display: flex;
  margin-top: 70px;
  margin-right: 70px;
}

.catalogBlock {
  flex: 1 0;
  margin-left: 16px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 12px;
  margin-top: 40px;
}