.footer {
  /* height: 400px; */
  background-color: #f4f4f4;
  padding-bottom: 40px;
  margin-top: 120px;
  /* height: 402px; */
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0px;
  gap: 40px 20px;
  justify-content: space-between;
}


.mainBlock {
  width: 400px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0px;
  justify-content: space-between;
  max-width: 840px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  min-width: 200px;
}

.columnTitle {
  font-size: 24px;
  margin-bottom: 8px;
  /* margin-bottom: 24px; */
}

.columnText {
  font-weight: 300;
  font-size: 16px;
}

.footerLogo {
  font-family: "Baskervville", serif;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 24px;
}

.footerLogoText {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 12px;
}

.footerBottomText {
  /* font-family: "Baskervville", serif; */
  text-align: center;
  margin-top: -40px;
  font-size: 18px;
  /* margin-bottom: 40px; */
}

@media (max-width: 780px) {
  .footer {
    padding: 0 15px;
    margin-top: 60px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 280px;
    width: 100%;
    /* min-width: 200px; */
  }

  .wrapper {
    padding-top: 40px;
  }
}