.leaveComment {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #000;
}

.rateBlock {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rate {
  font-weight: 400;
  font-size: 20px;
  color: #222222;
}

.rateStars {}

.commentsCount {
  font-weight: 400;
  font-size: 20px;
  color: #222222;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: calc(100vw - 16px);
  width: 400px;
}

.title {
  font-size: 24px;
}

.text {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}

@media (max-width: 576px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}