.map {
  width: 100%;
  max-width: 100vw;
  height: 400px;
  position: relative;
}


.container {
  height: 60px;
}

/* @media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */

.content {
  flex: 1;
}

.contentNoPadding {
  flex: 1;
}

.links {
  display: flex;
}

.price {
  margin: var(--ifm-pre-padding) 0;
}

.title {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 2px;
}