.buttons {
  display: flex;
  /* justify-content: flex-end; */
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 20px;
  gap: 16px;
}

.block {
  padding: 0 8px
}

.inputs {
  display: flex;
  gap: 16px;
  max-width: 1080px;
  /* max-width: calc(100vw - 16px); */
  flex-wrap: wrap;
  margin: 0 auto;
  /* border: 1px solid #000; */
  margin-bottom: 20px;
}