.products {
  /* margin: 0 70px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* height: 410px;
  overflow: hidden; */
  gap: 10px;
  margin-bottom: 70px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .products {
    padding: 0px 10px;
    margin-bottom: 40px;
  }
}