.header {
  height: 80px;
  min-height: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px;
  z-index: 2;
  background-color: #fff;
  gap: 0px;
}

.leftBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 10px; */
  width: 100%;
  max-width: 440px;
  min-width: 360px;
}

.rightBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 358px;
  min-width: 262px;
  /* gap: 8px;   */
}

.logo {
  font-weight: 400;
  font-size: 32px;
  color: #222222;
}

.text {
  font-size: 22px;
  color: #222222;
}

.phoneText {
  font-size: 18px;
  color: #222222;
}

.icon {
  color: #494949;
  font-size: 18px;
}

.headerMobile {
  display: none;
  height: 56px;
}

.mobileMenu {
  display: none;
}

.innerHeaderMobile {}

.menuButton {
  width: 56px;
  height: 56px;
  background-color: #fff;
}

.menu {
  position: fixed;
  left: 0;
  top: 56px;
  width: 100%;
  height: calc(100vh - 56px);
  background-color: #fff;
  z-index: 10;
  transition: 0.4s ease;
  padding-top: 8px;
}

.menuNone {
  position: fixed;
  left: -100%;
  top: 56px;
  width: 100%;
  height: calc(100vh - 56px);
  background-color: #fff;
  z-index: 10;
  transition: 0.4s ease;
}

.headerMobilePlace {
  display: none;
}

@media (max-width: 768px) {
  .headerMobile {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    height: 56px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #00000033;
  }

  .headerMobilePlace {
    display: block;
    width: 100%;
    height: 56px;
    padding-top: 56px;
  }

  .mobileMenu {
    display: flex;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #00000033;
  }


  .header {
    display: none;
  }
}